footer {
    background-color: lightgrey;
}

footer ul li {
    list-style: none;
}

.container {
    background-color: lightblue;
    border-radius: 5px;
}

.content {
    background-color: lightblue;
    margin-bottom: 0;
}

.content > h1 {
    background-color: lightgrey;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.rest-list > .col-md-2 {
    margin-bottom: 0;
}

.rest-list > .col-md-2:hover {
    border: 1px solid black;
}

.rest-list > .col-md-2 > a {
    text-decoration: none;
    color: black;
} 

.border-right {
    border-right: 1px solid black;
}

@media only screen and (max-width: 768px) {
    .border-right {
        border-right: none;
        border-bottom: 1px solid black;
    }
}